<div class="container">
    <br>
    <label for="selectedTimeInterval">Selected Time Interval </label>
    <input [(ngModel)]="modelData.selectedTimeInterval[0]" name="selectedTimeInterval" /><br><br>
  
    <label for="timeSpan">Time Span </label>
    <input [(ngModel)]="modelData.timeSpan" name="timeSpan" type="number" /><br><br>
  
    <label for="signalsToPredict">Signals to Predict </label>
    <div *ngFor="let signal of model.signalsToPredict"> {{signal.split('"').join('')}} </div>
    <br><br>
  
    <label for="signalsWithInfluence">Signals with Influence </label>
    <div *ngFor="let signal of model.signalsWithInfluence"> {{signal.split('"').join('')}} </div>
    <br><br>
  
    <label for="pastSteps">Past Steps </label>
    <div > {{model.pastSteps}} </div>
    
  
    <button (click)="predictUsingModel()">Predict using the Model</button>
</div>
  