<div class="content">
    <form>
        <div class="container">
        
            <div class="title">{{modelData.name}}</div>

            <div class="selectedTimeInterval">
                <div class="wrapper">
                <label for="selectedTimeInterval">Selected Time Interval </label>
                <div class="time-input">
                    <div class="field">
                    <span>From</span>
                    <input [(ngModel)]="stiStart" name="stiStart" type="text" class="input-min" (input)="rangeValueChangedLeft()">
                    </div>
                    <div class="separator">-</div>
                    <div class="field">
                    <span>To</span>
                    <input [(ngModel)]="stiEnd" name="stiEnd" type="text" class="input-max" (input)="rangeValueChangedRight()">
                    </div>
                </div>
                <div class="slider">
                    <div class="progress" id="progress"></div>
                </div>
                <div class="range-input">
                    <input [(ngModel)]="scrollStart" name="scrollStart" type="range" class="range-min"  id="range-min" [min]="inputMinVal" [max]="inputMaxVal" value="1" (input)="rangeValueChangedLeft()">
                    <input [(ngModel)]="scrollEnd" name="scrollEnd" type="range" class="range-max" id="range-max" [min]="inputMinVal" [max]="inputMaxVal" value="100"  (input)="rangeValueChangedRight()">
                </div>
                </div>
            </div>
        
            <div class="parameter-container">
                <div class="steps">
                 <div class="step">
                    <label for="timeSpan">Time Span </label>
                    <input [(ngModel)]="modelData.timeSpan" name="timeSpan" type="number" min="1" required="true" />
                 </div>
                  <div class="step">
                    <label for="pastSteps">Past Steps </label>
                    <input [(ngModel)]="modelData.pastSteps" name="pastSteps" type="number" disabled="true" />
                  </div>
                  <div class="step">
                    <label for="futureSteps">Future Steps </label>
                    <input [(ngModel)]="modelData.futureSteps" name="futureSteps" type="number" disabled="true" />
                  </div>
                </div>
            </div> 
            
        
            <div class="signal-container">
                <div class="data-predict">
                    <label for="signalsToPredict"><b>Data to Predict</b></label>
                    <div *ngFor="let signal of modelData.signalsToPredict"> {{signal.split('"').join('')}} </div>
                </div>
                <div class="separator"></div>
                <div class="data-influence">
                    <label for="signalsWithInfluence"><b>Data with Influence</b></label>
                    <div *ngFor="let signal of modelData.signalsWithInfluence"> {{signal.split('"').join('')}} </div>
                </div>
            </div>
        
            <div class="predict-button">
                <button (click)="predictUsingModel()">Predict using the Model</button>
            </div>
        </div>
    </form>
</div>

  