<div class="main-container">
    <h1>Data Analysis and Processing</h1>
    <div class="buttons-container">
      <div>
        <button class="my-models-button" (click)="navigateToMyModels()">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="Python Logo" width="100px" height="100px" />
        </button><br>
        My Models
      </div>
      
      <div>
      <button class="create-new-model-button" (click)="navigateToCreateNewModel()">
        <span style="font-size: 10em;">&#43;</span>
      </button><br>
      Create New Model
    </div>
    </div>
</div>

  