.main-container {
  background-color: inherit;
  text-align: center;
  align-items: center;
  padding: 20px;
  min-width: 700px;
}

h1 {
  color: #333; 
  padding-top: 70px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

button {
  position: relative;
  background-color: #333; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 150px;
  width: 150px;
  color: #fff; 
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  border: solid rgb(123, 122, 122);
  border-width: 5px;
}

span {
  position: absolute;
  margin-top: -75px;
  margin-left: -40px;
}


  