.container {
  width: 50%; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.model-name {
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.model-name label {
  padding-top: 5px;
}

.model-name input {
  width: 260px;
  border-radius: 5px;
}

.timespan {
  margin-top: 30px;
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.timespan label {
  margin-top: 5px;
}

.timespan input {
  width: 150px;
  border-radius: 5px;
}

.parameter-container {
  margin-top: 30px;
}

.parameter-container .steps {
  display: flex;
  justify-content: space-between;
}

.step {
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.step input {
  width: 150px;
  border-radius: 5px;
}

.parameter-container .algo {
  display: flex;
  justify-content: space-between;
}

.algitem {
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.algitem input {
  width: 150px;
  border-radius: 5px;
}

.signal-container {
  margin-top: 20px;
  background-color: rgba(241, 241, 241, 0.907);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.signal-container .data-predict {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.signal-container .data-influence {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.signal-container .separator {
  background-color: rgba(182, 173, 173, 0.458);
  width: 2px;
}

.signalsToPredict {
  height: 40px;
  padding-top: 10px;
}

.signal-container select {
  width: 120px;
}

.signalsToPredict button {
  float: right;
}

.signalsToPredict text {
}

.signalsWithInfluence {
  height: 40px;
  padding-top: 10px;
}

.signalsWithInfluence button {
  float: right;
}

.invalid {
  animation: shake 0.1635s 0s 3;
  border-color: red;
}

@keyframes shake {
  0%,
  100% {
    translate: 0;
  }
  25% {
    translate: 8px 0;
  }
  75% {
    translate: -8px 0;
  }
}

.error {
  color: red;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
form label {
  display: block;
  margin-bottom: 8px;
}
  
form input {
  width: 30%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}
  
form button {
  background-color: #266826;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
form button:hover {
  background-color: hsl(0, 0%, 27%);
}

form .preview-disabled {
  background-color: #bababa;
}

form .preview-disabled:hover {
  background-color: #bababa; 
}

form .correlation {
  float: right;
}

form .correlation-disabled {
  float: right;
  background-color: #bababa;
}

form .correlation-disabled:hover {
  background-color: #bababa;
}

form .loading-animation {
  float: right;
  background-color: #bababa;
  width: 116px;
  height: 35px;
}

form .loading-animation:hover {
  background-color: #bababa;
}

.animation {
  background-color: inherit;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selectedTimeInterval {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 10px 15px 10px;
}

.title {
  position: absolute;
  margin-top: 30px;
  margin-left: 10px;
}

.time-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}

.time-input .field {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
}

.time-input .field span {
  margin-bottom: 10px;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 17px;
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  border: 1px solid #999999;
}

.time-input .separator {
  width: 130px;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.slider {
  height: 5px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #b4b4b4;
  position: relative;
}

.slider .progress {
  height: 5px;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #266826;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  top: -13px;
  height: 5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background: #266826;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background: #266826;
}

.preview {
  margin-left: 20px;
}

.preview-disabled {
  margin-left: 20px;
}

