body {
    background-color: #f0f0f0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.notification {
    width: 310px;
    height: 100px;
    background-color: rgba(215, 215, 215, 0.567); 
    border-radius: 10px;
    margin: 10px 5px 10px;
    text-align: left;
}

.notification button {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    background-color: rgb(137, 137, 137);
    color: rgb(0, 0, 0);
}

.notification div {
    margin-left: 10px;
    padding-top: 5px;
}

.notification .name {
    background-color: red;
}

.toast-container {
    position: fixed;
    top: 35px;
    right: 10px;
}